.banner{
    width: 100%;
    height: 200px;
    border: 0px solid rgb(43, 112, 64);
    margin: auto;
    background-size: 100% 100%;
    animation: frecuencia 15s infinite;
    animation-direction: alternate;
}

@keyframes frecuencia{
    0%, 15%{
        background-image: url(../images/img2.jpg);
        opacity: 1;
    }
    16%, 18%{
        opacity: 0.1;
    }
    19%, 30%{
        background-image: url(../images/img3.png);
        opacity: 1;
    }
    31%, 50%{
        background-image: url(../images/img4.jpg);
        opacity: 1;
    }
    51%, 70%{
        background-image: url(../images/img5.jpg);
        opacity: 1;
    }
    71%, 75%{
        opacity: 0.1;
    }
    76%, 100%{
        opacity: 1;
        background-image: url(../images/img6.jpg);
    }
}