body {
    background-color: rgb(60, 112, 83);
}
p {
  color: rgb(7, 7, 7);
  font-size: 17px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
}

.main .articles {
  width: 68.5%;
  float: left;
  background: rgb(122, 153, 137);
  margin-right: 1.5px;
}

.main .articles articles {
  padding: 20px;
  background: white;
  margin-bottom: 20px;
}

aside {
  width: 30%;
  float: left;
  padding: 20px;
  box-sizing: border-box;
}

aside img {
  width: 90%;
  float: left;
  padding: 20px;
  box-sizing: border-box;
}

aside video {
  width: 90%;
  float: left;
  padding: 20px;
}

.contenedor {
  border-color: darkblue;
  width: 30%;
  height: 30%;
  margin: 1% 1%;
}

footer {
  background: rgb(243, 241, 241);
  color: white;
  clear: both;
  padding: 10px 0px;
  text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(22, 180, 93);
  }

  
  .list ul {
    list-style-type: none; 
    padding: 40px; 
    margin: 0; 
  }
  
  .list-2 ul li {
    border: 1px solid #ddd;
    margin-top: -1px; 
    background-color: #f6f6f6; 
    padding: 12px;
  }