div#panel{
    margin: 10px;
    margin-top: 0;
    width: 95%;
    height: 300px;
    border: 1px solid coral;
    padding: 10px;
    align-items: center;
    
    }
    div#izquierda img{
        width: 100%;
        height: 300px;
    }
    
    div#izquierda{
        width: 33.33%;
        float: left;
    
    }
    div#centro img{
        width: 100%;
        height: 300px;
    }
    
    div#centro{
        width: 33%;
        float: left;
        
    }
    div#derecha img{
        width: 100%;
        height: 300px;
    }
    div#derecha{
        width: 33%;
        float: left;
    }