form {
    margin: 5px;
    border-radius: 15px;
    border-color: rgb(0, 128, 17);
    text-decoration-color: olive;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

form div{
padding: 15px;
color: rgb(0, 0, 0);
background-color: rgb(195, 209, 198);
border-radius: 10px;

}

.comentarios{
    width: 100%;
    height: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.textos {
    width: 100%;
    height: 30px;
    color: black;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#envio{
    font-size: 25px;
    background-color: rgb(94, 153, 40);
    color: #fff;
    padding: 15px;
    border-radius: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: end;
}
#sesion{
    font-size: 25px;
    background-color: rgb(94, 153, 40);
    color: #fff;
    padding: 15px;
    border-radius: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: end;
}