*{
    margin: 0;
    padding: 0;
    font-size: 10;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    width: 375px;
    height: 200px;
}
.imgs{
    width: 600px;
    height: 400px;
}
.imgs-2{
    width: 400px;
    height: 250px;
    padding: 5px;
}
.paddingtext{
    padding-inline-start: 30px;
}

.aligncenter {
    text-align: center;
}

#ventana {
    color: blue;
}

header .main footer{
    max-width: 1000px;
    background: #fff;
    margin: auto;
}

.body{
    background-color:#97bf8e ;
    margin-top:0px;
    margin-left:0px;
}

.hr{
    color: blanchedalmond;
}