h1 {
  color: rgb(217, 236, 235);
  font-size: 50px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: xx-large;

}

.align{
  text-align: center;
}

h2 {
  font-weight: bold;
  font-style: oblique;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  text-align:left;
  padding: 15px;

}
